Integers

In [1]:
print(123123123123123123123 + 1)

123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

Strings

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print('')

In [6]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

Boolean Type, Boolean Context, and "Truthiness"

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Variable Assignment

In [8]:
n = 300
print(n)

300

In [9]:
n

300

In [10]:
n = 1000
print(n)

n

1000

1000

In [11]:
a = b = c = 300
print(a,b,c)

300 300 300

Variables Types in Python

In [12]:
var = 23.4
print(var)

var = "Now I'm a string"
print(var)

23.4
Now I'm a string

Variable Names

In [13]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

Nama variable tidak boleh dimulai dengan angka

In [14]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (Temp/ipykernel_3900/687628429.py, line 1)

In [20]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Operators and Expressions in Python

In [21]:
a = 10
b = 20
a + b

30

In [22]:
a = 10
b = 20
a + b - 5

25

Arithmetic Operations

In [24]:
a = 4
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

9
-1
20
0.8
4
1024

Hasil dari pembagian selalu bertipe float bahkan jika habis dibagi sekalipun.

In [27]:
10 / 5
print(10 / 5)
print(type (10 / 5))

2.0
<class 'float'>

Comparison Operators

In [28]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

String Manipulation

In [30]:
# operator +
a = 'pedro'
b = 'lende'
c = 'ganteng'
print(a + b)
print(a + b + c)

print('Hacktiv8' + 'PTP')

pedrolende
pedrolendeganteng
Hacktiv8PTP

In [32]:
#operator *
a = 'makan.nasi.'
a * 6

'makan.nasi.makan.nasi.makan.nasi.makan.nasi.makan.nasi.makan.nasi.'

In [33]:
#operator in
a = 'foo'
print(a in 'That food for us')
print(a in 'That good for us')

True
False

In [34]:
# Case Coversion
s = 'Hacktiv8'

# Capitalize
print(s.capitalize())

# Lower 
print(s.lower())

# Swapcase
print(s.swapcase())

# Title 
print(s.title())

#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKTIV8
Hacktiv8
HACKTIV8

Python Lists

In [35]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

Lists Are Ordered

In [39]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

Lists Elements Can Be Accesed by Index

In [41]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[3])

print(a[-6])
print(a[-1])

foo
qux
foo
corge

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [46]:
# The concatenation (+) and replication (*) operators:

print(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [47]:
# len(), min(), max()

print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

Modifying a Single List Value

In [57]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [58]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

Modifying Multiple List Values

In [59]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

Python Tuples

In [60]:
t = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(t)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [61]:
print(t[0])
print(t[-1])

foo
corge

In [62]:
# packing an unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

Python Dictionary

Defining a Dictionary

In [65]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [66]:
#Adding an entry to existing dictionary

MLB_team['Kansan City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansan City': 'Royals'}

In [67]:
#  mengupdate entry terbatru

MLB_team['Seattle'] = 'Seahawls'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawls',
 'Kansan City': 'Royals'}

In [68]:
# menghapus entry

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansan City': 'Royals'}

Building a Dictionary Incrementally

In [70]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [71]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [72]:
print(person['children'])
print(person['children'][1])

['ralph', 'Betty', 'Joey']
Betty

In [73]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [74]:
# Built-in Methods
d = {'a' : 10, 'b' : 20, 'c' : 30}

# items
print(d.items())

#keys 
print(d.keys())

#pvalues
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Line Continuation

In [75]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [77]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True