Introduction to the if statement

In [2]:
x = 3
y = 9

if x < y:           #truthy
    print('yes')

if y < x:           #falsy
    print('yes')

if x:               #truthy
    print('yes')

if y:               #falsy
    print('yes')

if 'aul'in 'grault':  #truthy
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:   #falsy
    print('yes')

yes
yes
yes
yes

Grouping Statement: Indentation and Blocks

In [41]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('expression was true')
    print('executing statement in suite')
    print('....')
    print('Done.')
    
print('After conditional')

After conditional

In [40]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner contditions 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer conditions')
print ('After outer conditions')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer conditions
After outer conditions

The else and elif Clause

In [4]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [5]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
hargaBuku =  20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [7]:
hargaBuku =  20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [14]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

I don't know who you are!

In [16]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

One-line if Statement

In [18]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [25]:
if 'o' in 'foo': print('1'); print('2'); print('3');

1
2
3

In [26]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [27]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [28]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x== 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

Conditional Expression

In [30]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [31]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [32]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [33]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

Python "while" Loops

In [43]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [44]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

The Python break and continue Statement

In [45]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break 
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [46]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended')

4
3
1
0
Loop ended

The else Clause

In [47]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [48]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

Nested while Loops

In [ ]:
if age < 18:
    if gende == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
        else:
            print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [60]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [61]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

The Python for Loop

In [62]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [63]:
d = {'foo': 1, 'bar':2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [65]:
for k in d:
    print(d[k])

1
2
3

In [66]:
for k in d.values():
    print(k)

1
2
3

In [67]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

Iterating Through a Dictionary

In [69]:
d = {'foo': 1, 'bar':2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [70]:
for k in d:
    print(d[k])

1
2
3

In [71]:
for v in d.values():
    print(v)

1
2
3

The break and continue statements

In [72]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [73]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

The else Clause

In [74]:
for i in ['foo', 'bar', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
qux
Done.

In [75]:
#kalusa else tidak akan dijalankan jika ada pernyataan break

for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo