In [6]:
import numpy as np
import pandas as pd

In [11]:
angkarandom = pd.Series(np.random.randint(1,5,100))

In [12]:
angkarandom

0     2
1     4
2     3
3     1
4     1
     ..
95    4
96    3
97    1
98    4
99    2
Length: 100, dtype: int32

In [21]:
angkarandom.value_counts()

1    30
3    25
4    23
2    22
dtype: int64

In [23]:
pd.DataFrame({'Value' : [1, 3],
             'Frequensi' : [30, 25]})

   Value  Frequensi
0      1         30
1      3         25