In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
Data = sns.load_dataset('mpg')
dataframe = pd.DataFrame(Data)

In [15]:
dataframe.groupby('origin')['weight'].agg(['mean', 'std', 'sum', 'count', 'min', 'max']).reset_index()

   origin         mean         std     sum  count   min   max
0  europe  2423.300000  490.043191  169631     70  1825  3820
1   japan  2221.227848  320.497248  175477     79  1613  2930
2     usa  3361.931727  794.792506  837121    249  1800  5140